-<h1>Welcome, <%=username%></h1>

<form method="get" action="/">
  <input type="submit" value="Logout"/>
</form>

      <ul>
      <li>Spencer: spen@example.com</li>
      <li>Jeff D.: jd@example.com</li>
      <li>Mike: mike@example.com</li>
      <li>Kirsten: kirsten@example.com</li>
      <ul>
